<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <add key="ciscoexepath" value="C:\Program Files (x86)\Cisco\Cisco AnyConnect Secure Mobility Client\vpnui.exe"/>
    <add key="username" value="dineshV"/>
    <add key="password" value=""/>
    <add key="domain" value=""/>
    <add key="group" value=""/>  <!--Add group name if you have any. Otherwise leave it as blank.-->
  </appSettings>
  
</configuration>